---
// Redirect legacy /offer-fitness to /en/offer-fitness
---
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/en/offer-fitness" />
    <link rel="canonical" href="/en/offer-fitness" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href="/en/offer-fitness">/en/offer-fitness</a>...</p>
  </body>
</html>
