---
// Redirect legacy /offer-clinics to /en/offer-clinics
---
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/en/offer-clinics" />
    <link rel="canonical" href="/en/offer-clinics" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href="/en/offer-clinics">/en/offer-clinics</a>...</p>
  </body>
</html>
