---
// Redirect legacy /offer-b2b to /en/offer-b2b
---
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/en/offer-b2b" />
    <link rel="canonical" href="/en/offer-b2b" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href="/en/offer-b2b">/en/offer-b2b</a>...</p>
  </body>
</html>
